@import "../colors.scss";

.booking-section {
  position: relative;
  min-height: 90vh;
  padding-top: 4rem;

  .booking-form-container {
    position: relative;
    width: 90%;
    margin: auto;

    form {
      text-align: center;

      input {
        background: $lightGrey;
        border: none;
        color: $white;
        border-bottom: 2px solid;
        margin: 0 2rem;
        cursor: pointer;

        &:focus {
          outline: none !important;
        }
      }
      ::-webkit-calendar-picker-indicator {
        color: $white;
      }

      button {
        background: linear-gradient(to right, $pink, $orange);
        border: none;
        color: $white;
        border-radius: 3px;
        padding: 0.4rem 2.5rem;
        margin: 0 2rem;
        cursor: pointer;

        &:focus {
          outline: none !important;
        }
      }
    }

    h2 {
      color: $titleColor;
      text-transform: uppercase;
      font-size: 7rem;
      font-weight: 900;
      text-align: center;
      margin-top: 5rem;
    }

    .reservation-data-result {
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      gap: 1rem;
      margin-top: 2rem;

      .reservation-data-result__block {
        width: calc(100% / 3 - 1rem);

        h3 {
          margin: 15px 0;
          font-size: 1.5rem;
        }

        h5 {
          margin-top: 0;
          font-size: 1.2rem;
        }

        img {
          width: 100%;
        }

        .booking-btn {
          background: linear-gradient(to right, $pink, $orange);
          border: none;
          color: $white;
          border-radius: 3px;
          padding: 0.5rem 3rem;
          margin-top: 1rem;
          cursor: pointer;
          font-size: 1.2rem;

          &:focus {
            outline: none !important;
          }
        }

        .thumbnail-images {
          display: flex;
          gap: 0.5rem;

          .thumbnail-image {
            width: calc(100% / 3);
          }
        }
      }
    }
  }
}
